<div class="modal-header">
    <h4 class="modal-title">
        <span>播放日志详情</span>
    </h4>
</div>

<div class="modal-body">
    <div><span style="font-size:larger;padding:10px;font-weight:bold;">播放时间：</span> {{ vm.content.creationTime| date :'yyyy-MM-dd HH:mm:ss'}}</div>
 
    <div style="font-size:larger;padding:10px;font-weight:bold;">详情:</div>
    <div style="padding:20px;word-wrap:break-word; word-break:normal; background-color: lightgray; "> {{ vm.content.remark}}</div>
   
</div>
<div class="modal-footer">
    <button type="button"  class="btn btn-default" ng-click="vm.cancel()">
        @L("Cancel")
    </button>
</div>
