<div ng-controller="common.views.baseinfo.audioAirLine.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>航空公司管理</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-primary blue" ng-click="vm.create()"><i class="fa fa-plus"></i> 添加航空公司</button>
        </div>
    </div>
  
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <div class="form-body" enter-key="vm.getUsers()">
                <div class="row margin-bottom-10">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">语种</label>
                            <select class="form-control edited"
                                    ng-model="vm.requestParams.languageId"
                                    ng-options="x.id as x.name for x in vm.languages" >
                                <option value="">全部</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">编号</label>
                            <input type="text" class="form-control" ng-model="vm.requestParams.code">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">文件名</label>
                            <input type="text" class="form-control" ng-model="vm.requestParams.fileName">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">操作</label>
                            <button class="btn btn-default btn-block" ng-click="vm.getAll()"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                        </div>
                    </div>
                </div>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.options" ui-grid-pagination ui-grid-resize-columns></div>
            </div>
        </div>
    </div>
</div>