<div ng-controller="tenant.views.dashboard.arr.arr as vm">
    <div busy-if="vm.loading">
        <div style="width: 100%;border: 1px solid #e2e2e2;background: #f2f2f2;padding: 5px;text-align: center;">进港</div>
        <div ui-grid="vm.options" ui-grid-resize-columns></div>
    </div>
</div>